{% if cv.certifications %}
  <div id="certifications" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Certifications</h3>
    </header>

    <div class="entry-content">
      {% for c in cv.certifications %}
        <div class="taxonomy">
          {% if c.name %}
            <h4 class="title">{{ c.name }}</h4>
          {% endif %}
          {% if c.certlist %}
            <ul class="certlist">
            {% for cert in c.certlist %}
              <li>{{ cert }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
